<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>< MyCode /></title>
    <style>

      .navbar
        {
            border-radius: 8px;
        }
    </style>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top ms-2 me-2 mt-2">
      <div class="container">
        <a class="navbar-brand" href="{% url 'app:home' %}"><h3><b>< MyCode /></b></h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:profile' user.user_profile.unique_id %}"><h5><b>Profile</b></h5></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:logout' %}"><h5><b>Logout</b></h5></a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><h5><b>Start Call</b></h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'app:startRoom' %}"><h5><b>Host Meet</b></h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><h5><b>Join Meet</b></h5></a>
              </li>
            {% else %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'user:loginView' %}"><h5><b>Login</b></h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user:registerView' %}"><h5><b>Register</b></h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/ashish-sasmal/"><h5><b>About</b></h5></a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

      <br><br>
      
    {% block content %}

    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
      function copyId(val){
        navigator.clipboard.writeText(val);
      }

      function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else {
            myPosition.innerHTML = "Geolocation is not supported by this browser.";
          }
      }

      function showPosition(position) {
      
          myPosition.style.display = "block";
          myPosition.innerHTML = "<i class='fas fa-map-marker-alt'></i> " + position.coords.latitude +
          ", " + position.coords.longitude;
          fetch(`{% url 'app:locationSharing' %}?lat=${position.coords.latitude}&long=${position.coords.longitude}&action=add&username=`+'{{user.user_profile.unique_id}}').then(res=>res.json()).then(data=>{
              console.log(data);
          });
      }

      {% if user.is_authenticated %}
      let myDetails = {"id": '{{request.user.user_profile.unique_id}}', "name": '{{request.user.username}}'};
      function connectWebSocket(){
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            chatSocket = new WebSocket(ws_scheme+'://' +window.location.host +'/ws/user/{{request.user.user_profile.unique_id}}/');
            console.log("Websocket connected");

            chatSocket.onmessage = async(e) =>{
                const data = JSON.parse(e.data);
                console.log(data);
                if (data.type == "room_request"){
                    if (data.response == "accept"){
                        alert("Accepted")
                        window.location = "/chat/"+data.room_id
                    }
                    else{
                        alert("Request denied.");
                        window.location = "/"
                    }
                }
            }

            chatSocket.onopen = event =>{
                chatSocket.send(JSON.stringify({
                      "type": "login",
                      "from": myDetails
                  }));
            }
        }
        connectWebSocket()
      {% endif %}
    </script>
  </body>
</html>
