{% extends "app/base.html" %}
{% block content %}
<div class="container" align="center" style="color:white;">
  <div class="col-6" style="left: 25%;top: 25%; position: absolute;">
    <h1 class="cover-heading">You are not alone...</h1>

    <p class="lead">“Those who pass by us, do not go alone, and do not leave us alone; they leave a bit of themselves, and take a little of us.”
        
    <small>    <br> <a href="https://en.wikipedia.org/wiki/Antoine_de_Saint-Exup%C3%A9ry" target=
          "_blank">- Antoine de Saint-Exupéry</a></small>
        
    </p>

    <p class="lead"><a class="btn btn-lg btn-info" href="{% url 'app:startRoom' %}">Start Meeting</a></p>

    <div class="mastfoot">
      <div class="inner">       
    
        <p>Ashish Sasmal</p>
      </div>
    </div>
  </div>
   
  </div>

 

{% endblock content %}